[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
huggingface-hub = "*"
transformers = "*"
langchain-openai = "*"
jinja2 = "*"
langchainhub = "*"
sentence-transformers = "*"
unstructured = {extras = ["md"], version = "*"}
faiss-gpu = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
